* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none !important;
    opacity: 1
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}


img {
    max-width: 100%;
    height: auto;
}


button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


/* header section start */


.bg-light {
    background-color: #062F4F !important;
}

.navbar-expand-lg {
    position: fixed;
    z-index: 9;
}


.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
    color: #e0dcdc !important;
    display: flex;
    font-size: 18px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #B82601 !important;
}

/* header section end */




/* article section start */

.article_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    height: fit-content;
    background-color: #fff;
}

.article_title {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.article_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #242424;
    text-align: center;
    margin: 0px;
}

.article_section_2 {
    width: 100%;
    float: left;
}

.box_main {
    width: 100%;
    float: left;
    position: relative;
}

.image_2 {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 100px;
}


.articles_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1c1c1c;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    margin: 0px;
    padding-top: 40px;
}

.btn_main {
    width: 100%;
    display: flex;
    padding-top: 15px;
}

.read_bt {
    width: 170px;
    float: left;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #813772;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
}

.read_bt a:hover {
    color: #ffffff;
    background-color: #a25993;
}


/* article section end */

/* article section start */

.article_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    height: fit-content;
    background-color: #fff;
}

.article_title {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.article_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #242424;
    text-align: center;
    margin: 0px;
}

.article_section_2 {
    width: 100%;
    float: left;
}

.box_main {
    width: 100%;
    float: left;
    position: relative;
}

.image_2 {
    width: 100%;
    float: left;
    text-align: center;
    padding-left: 100px;
}


.articles_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1c1c1c;
    font-weight: bold;
    text-align: left;
    padding-top: 40px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1c1c1c;
    margin: 0px;
    padding-top: 40px;
}

.btn_main {
    width: 100%;
    display: flex;
    padding-top: 15px;
}

.read_bt {
    width: 170px;
    float: left;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #813772;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
}

.read_bt a:hover {
    color: #ffffff;
    background-color: #a25993;
}


/* article section end */

/* about section start */
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.about_section {
    width: 100%;
    float: left;
    background-image: url(../images/about-bg.png);
    height: 1000px;
    padding: 90px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;

}

.about_title {
    width: 100%;
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.about_text {
    width: 70%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.about_main {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    margin-top: 60px;

}

.image_5 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-top:
        100px;
    position: relative;
    z-index: 1;
}
/* about section end*/

/* contact section start*/
.contact_section {
    width: 100%;
    float: left;
    background-color: #fff;
    height: auto;
    padding-bottom: 90px;
}

.contact_main {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.request_text {
    width: 100%;
    float: left;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #000;
    padding-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.email-bt {
    color: #292929;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 20px;
    background-color: rgb(136, 136, 136);
    border: 0px;
    border-radius: 30px;
}

input.email-bt::placeholder {
    color: #292929;
}

.massage-bt {
    color: #292929;
    width: 100%;
    height: 110px;
    font-size: 18px;
    padding: 40px 20px 10px;
    background-color: #999999;
    border: 0px;
    border-radius: 30px;
}


.send_btn {
    width: 170px;
    text-align: center;
    margin: 0px auto;
}

.send_btn button {
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 0px;
    background-color: #813772;
    border-radius: 10px;
}

.send_btn button:hover {
    color: #000;
    background-color: #af74a4;
}
/* contact section end*/


/* article section start*/
.article_title{
    width: 100%;
    float: left;
    background-color: #fff;
    height: auto;
    padding-bottom: 1.2em;
    padding-top: 1.2em;   

}
.article_main{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    color: #000;
}

/* article section start*/


/* footer section start*/

.site-footer {
    background-color: #062F4F;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}



.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}


